body.style{
	background-color: #FAE629;
}
section.pageTitle{
	margin-top: -30px;
	box-shadow: 5px 5px 5px black;
	text-align: center;
	background-color: white;
	border-radius: 30px;
}
section.pageText{
	margin-top: -20px;
	padding-right: 5%;
	float: right;
	text-align: center;
	font-size: 20px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
section.pageImg{
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
	margin-top: -20px;
	float: left;
}
section.pageImg:hover img{
    -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.pageText img{
     width: 50px;
     height: 50px;
}
.pageText img:hover{
     opacity: 0.3;
}
h1{
    font-size: 50px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.pageImg img{
	 width: 350px;
     height: 450px;
}
section.donut{
	padding-top: 20px;
}
.donut img{
     width: 200px;
     height: 200px;
}
ul li{ 
	padding : 5px;
	display:inline;
}
a:link{
    text-decoration: none;
	color: black;
}
a:visited{
	color: black;
}
a:hover {
  color: white;
}
menu.Langues{
   
}
menu.Langues img{
	margin-top: 21px;
	float: left;
	padding: 5px;
    height: 20px;
    width: 30px;
}
